<div class="loader-wrapper"[class.loderhide]="!show">
    <div class="loader-index"><span></span></div>
    <svg>
      <defs></defs>
      <filter id="goo">
        <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
        <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
      </filter>
    </svg>
  </div>


  <app-breadcrumb [title]="'Faq'" [items]="['Apps']" [active_item]="'FAQ'"></app-breadcrumb>
<div class="container-fluid">
  <div class="faq-wrap">
    <div class="row">
      <div class="col-xl-4 xl-100 box-col-12">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="media faq-widgets">
              <div class="media-body">
                <h5>Articles</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div><i data-feather="file-text"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 box-col-12">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="media faq-widgets">
              <div class="media-body">
                <h5>Knowledgebase</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div><i data-feather="book-open"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 box-col-12">
        <div class="card bg-primary">
          <div class="card-body">
            <div class="media faq-widgets">
              <div class="media-body">
                <h5>Support</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div><i data-feather="aperture"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="header-faq">
          <h5 class="mb-0">Quick Questions are answered</h5>
        </div>
        <div class="row default-according style-1 faq-accordion" id="accordionoc">
          <div class="col-xl-8 xl-60 col-lg-6 col-md-7">
            <!-- <div class="faq-title">
              <h6>Filter</h6>
            </div> -->
            <div class="card">
              <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" >
                <ngb-panel>
                  <ng-template ngbPanelTitle><i data-feather="help-circle"></i> <p>Filter By</p></ng-template>
                  <ng-template ngbPanelContent>
                    Ready for ngb-accordion
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
      </div>
  </div>
</div>


<input type="text"
class="form-control"
#dp="bsDatepicker"
bsDatepicker >