<!-- <app-breadcrumb [title]="'Faq'" [items]="['Apps']" [active_item]="'FAQ'"></app-breadcrumb> -->
<div class="container-fluid">
  <div class="faq-wrap">
    <div class="row">
      <div class="col-lg-12">
        <div class="row default-according style-1 faq-accordion" id="accordionoc">
          <div class="col-xl-12">
            <!-- <div class="faq-title">
                <h6>Filter</h6>
              </div> -->
            <div class="card">
              <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <div class="mr-5 ml-2">
                      <h4>Filter By </h4>
                    </div>
                    <form class="w-75 ml-3 float-right">
                      <div class="form-group mb-0">
                        <div class="input-group pill-input-group">
                          <input class="form-control" placeholder="Search"
                           type="text" aria-label="Amount (to the nearest dollar)">
                        </div>
                      </div>
                    </form>
                  </ng-template>

                  <ng-template ngbPanelContent>
                    Ready for ngb-accordion
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>