<app-breadcrumb [items]="['Category', 'Categories']"></app-breadcrumb>

<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header" style="padding-bottom: 0;">

                <div>
                    <label for="per-page">
                        Per Page:
                    </label>
                    <!-- <select id="per-page" (change)="onLimitChange($event.target.value)">
            <option *ngFor="let option of pageLimitOptions" [value]="option.value"
              [selected]="option.value == currentPageLimit">
              {{ option.value }}
            </option>
          </select> -->
                </div>
                <h3 style="display: inline;" class="card-title">Categories</h3>
             
                <button [hidden]= "permissionNames.AddRoles | permissionCheck"
                style="display: inline; float: right;margin-top: 0" type="button"routerLink="/admin/category-add"
                class="btn space-generator btn btn-outline-primary mr-2"
                >Add Category</button>

            </div>
            <div class="card-body " style="padding-top: 0;">
                <div class="row">
                    <div class="col-md-12 position-relative">
                        <ngx-datatable
                         class="bootstrap" [columnMode]="ColumnMode.force" 
                        [rows]="rows" 
                        [treeFromRelation]="'parentId'" 
                        [treeToRelation]="'id'"
                        (treeAction)="onTreeAction($event)"
                        rowHeight="auto" 
                        [headerHeight]="50">

                            <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column>

                            <ngx-datatable-column name="Name" [flexGrow]="3" [isTreeColumn]="true">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{ value }}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                        <!-- <div class="d-flex justify-content-end">
              <pagination [boundaryLinks]="true" [totalItems]="page.total" [itemsPerPage]="page.pageSize"
                (pageChanged)="paginate($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;">
              </pagination>
            </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->