<div class="tree-container">
    <div class="tree-info">
        <p class="tree-title">Fonts tree</p>
    </div>
    <div class="tree-content">
        <tree #treeFonts [tree]="categoryModel" [settings]="{rootIsVisible: true}"
            (menuItemSelected)="onMenuItemSelected($event)" (nodeRemoved)="onNodeRemoved($event)"
            (nodeRenamed)="onNodeRenamed($event)" (nodeSelected)="onNodeSelected($event)"
            (nodeMoved)="onNodeMoved($event)" (nodeCreated)="onNodeCreated($event)"
            (nodeExpanded)="onNodeExpanded($event)" (nodeCollapsed)="onNodeCollapsed($event)">
        </tree>
    </div>
</div>